# No ideas
.idea
# Default ignored files
/shelf/
.idea/**/workspace.xml
# Datasource local storage ignored files
/../../../../../:\GitProjects\Java\DominionLocal\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
